
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  overflow: scroll;
  width: 100%;
}

.title {
  font-family: 'Share', cursive;
}

.grid {
  font-size: 50px;
  font-family:Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}

table {
  border-spacing: 0px;
}

td {
  /* width: 100%; */
  border: 2px solid black;
  min-width:50px;
  max-width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  align-content: space-around;
}

input {
  max-width: 25px;
  border: none;
  height: 100%;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0% 20% 0% 20%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.result {
  color: rgb(255, 192, 67);
  text-shadow: 1px 1px #787878;
  font-size: 30px;
  height: 30px;
  border: 2px white solid;
  text-align: center;
}

footer {
  text-align: center;
}

@media (max-width: 714px) {
  .wrapper {
    width: 100%;
    overflow-x: scroll;
    margin: 20px;
    padding: 20px;
  }

  td {
    width: 100%;
  }
}